{% extends "BookApi/index.html" %}

{% block content %}
{% include "BookApi/navbar.html" %}
<div class="book-list">Books list</div>
<div class="container-fluid-1">
  {% for movies in book %}
  {% if movies %}
  <div class="movie-list">
    <a href="{{ movies.infoLink }}">
      <img class="bd-placeholder-img card-img-top w-100 h-100" style="max-width: 2500px; object-fit: cover"
          src="{{ movies.icon }}" alt="NO"></img></a>
      <div class="movie-data">
          <a href="{{ movies.infoLink }}">
          <div class="movie-list-title">{{ movies.title }}</div></a>
          <div class="movie-data-2">
              <div class="avg_star">
                  <!-- <span class="fa fa-star checked"></span> -->
                  <div class="movie-list-vote"> By {{ movies.author }}</div>
              </div>
              <div class="calender">
                  <i class="fas fa-calendar movie_list_calender"></i>
                  <div class="movie-list-date">{{ movies.publishdate}}</div>
              </div>
              <form action="/delete/{{ movies.id }}/"  method="POST">
                  {% csrf_token %}
                  <button class="primary delete-button" id="delete"><i class="fas fa-trash-alt"></i></button>
              </form>
          </div>

      </div>
  </div>
  {% else %}
  {% endif %}
  {% endfor %}

</div>

{% include "BookApi/footer.html" %}
{% endblock content %}